body, form, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
    background-color: transparent;

    font-family: myriad-pro, sans-serif;
    font-size: medium;

    border: 0;
    padding: 0;
    width: fit-content;

    cursor: pointer;
}

input {
    display: block !important;
    background-color: transparent;
    font-family: myriad-pro, sans-serif;
    font-size: medium;

    min-width: 0;
    min-height: 0;

    border: 0;
    padding: 0;

    &:focus, textarea:focus, select:focus {
        outline: none;
        border: 0;
    }
}

.overlay {
    background-color: rgba(black, 0.6) !important;
    color: white;
    font-size: 24px;
    font-weight: bold;

    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    z-index: 30;
    right: 0;
}

*[hidden] { 
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

*[disabled] {
    pointer-events: none;
}